h1{
    color: rgb(240, 142, 142);
}

h2{
    color: aqua;
}

.title2{
    color: blueviolet;
}

.title3{
    color: black;
}

.menu{
    background-color: black;
    padding: 50px 30px;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    margin-right: 55px;
    transition: 1000ms;
}

a:hover{
    color: aqua;
    font-size: 40px;
    transition: 1000ms;
}
